# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\xampp\htdocs\Matkul-Pemrograman-Web\02-Elemen-Dasar-Struktur-Kontrol-dan-Array-PHP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
